/*.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}

.flex-item {
    text-align: center;
    box-sizing: border-box;
    padding: 5px;
    margin: 10px 2px;
    border: 1px solid gold;
}
.flex-item:hover {
    border: 1px solid gold;
    box-shadow: 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(0, 0, 0, .2);
    outline-color: rgba(0, 0, 0, 0);
    outline-offset: 15px;
    
}*/
#btnGetAll {
    width: 90%;
    margin: 0 auto;
}
.navbar{
    padding: 5px;
    margin: 10px 2px;
    border: 1px solid gold;
}
.navbar:hover {
    border: 1px solid gold;
    box-shadow: 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(0, 0, 0, .2);
    outline-color: rgba(0, 0, 0, 0);
    outline-offset: 15px;
}
.clicked{
    display: none;
}
.container-full {
  margin: 0 auto;
  width: 100%;
}
.avatar{
/*	width: 100px;*/
}
table{
    widows: 50%
}